{% extends "base.html" %}

{% block title %}Lazy Rabbit LLM Agent{% endblock %}

{% block heading %}Lazy Rabbit LLM Agent{% endblock %}

{% block content %}
    <!-- Hero Section with Background Image -->
  <section class="hero-section">
    <h1>Lazy Rabbit Agent</h1>
    <p>改变不了世界, 就改变自己的生活, 改变自己的当下与未来.</p>
    <a href="#learn-more" class="btn btn-learn-more">Learn More</a>
  </section>



  <!-- Features Section with Icons -->
  <section class="icon-section" id="features">
    <div class="container">
      <div class="row">
        <!-- Feature 1 -->
        <div class="col-lg-4 col-md-6 icon-box">
          <i class="bi bi-heart-pulse"></i>
          <h5>生活</h5>
          <p>生活在当下</p>
        </div>
        <!-- Feature 2 -->
        <div class="col-lg-4 col-md-6 icon-box">
          <i class="bi bi-speedometer"></i>
          <h5>写书</h5>
          <p>我写故我在</p>
        </div>
        <!-- Feature 3 -->
        <div class="col-lg-4 col-md-6 icon-box">
          <i class="bi bi-shield-check"></i>
          <h5>旅行</h5>
          <p>人生如逆旅，我亦是行人.</p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}