{% extends "base.html" %}

{% block title %}Lazy Rabbit LLM Agent{% endblock %}

{% block heading %}Lazy Rabbit LLM Agent{% endblock %}

{% block content %}

    <div class="container mt-3">
        <div class="d-flex justify-content-center align-items-center">
            <img src="/static/lazy-rabbit-logo-1.webp" alt="Lazy Rabbit Logo" class="img-fluid me-2" width="100" height="100">
            <h2 class="text-center d-inline-block align-middle">Lazy Rabbit LLM Agent</h2>
        </div>
        <form id="testform" onsubmit="return sendFormData();" class="mt-4">
            <div class="mb-3 row row-cols-2 g-3">
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text">Command:</span>
                        {{ form.command(class="form-select") }}
                    </div>
                </div>
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text">Invitation Code:</span>
                        {{ form.invitation(class="form-control") }}
                    </div>
                </div>
            </div>

            <div class="mb-3 row row-cols-2 g-3">
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text">Template:</span>
                        {{ form.template(class="form-select") }}
                    </div>
                </div>
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text">Model:</span>
                        {{ form.model(class="form-select") }}
                    </div>
                </div>

            </div>
            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text">Prompts:</span>
                    {{ form.prompts(class="form-control", rows="4") }}
                </div>
            </div>
            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text">Input Text:</span>
                    {{ form.input(class="form-control", rows="2") }}
                </div>
            </div>
            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text">Parameters:</span>
                    {{ form.parameters(class="form-control", rows="2") }}
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <h3 class="text-center mt-1">Output</h3>
        <textarea id="output" name="output" rows="5" class="form-control"></textarea>
    </div>

    <script>
        let socket = null;
        const form = document.forms['testform'];
        const selectCommand = form.command;
        const selectTemplate = form.template;
        function updatePrompts() {
            const response = fetch('/api/v1/prompts/search', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    command: selectCommand.value,
                    template: selectTemplate.value
                }),
            });
            response.then(r => r.text()).then(text => form.prompts.value = JSON.stringify(JSON.parse(text), null, 2));
        }


        function sendFormData() {
            const form = document.forms['testform'];
            const data = JSON.stringify({
                cmd: form.command.value,
                invitation: form.invitation.value,
                model: form.model.value,
                template: form.template.value,
                input: form.input.value,
                parameters: form.parameters.value
            });

            if (socket == null || socket.readyState == WebSocket.CLOSED) {
                socket = new WebSocket("ws://localhost:8000/ws/guest?token="+invitation)
            } else {
                socket.send(data);
            }
            socket.onopen = function() {
                console.log("WebSocket connected");
                socket.send(data);
            }

            // 接收服务器回应并更新 output textarea
            socket.onmessage = function(event) {
                console.log("WebSocket received ", event.data);
                var jsonData = JSON.parse(event.data);
                if (+jsonData.code == 200) {
                    document.getElementById('output').value = jsonData.result;
                } else {
                    document.getElementById('output').value = jsonData.desc;
                }

            };

            return false;  // 阻止表单提交
        }

        selectCommand.addEventListener('change', updatePrompts);
        selectTemplate.addEventListener('change', updatePrompts);
    </script>


{% endblock %}